<div class="row" style="margin: 15px;">
	<h4>Name: <b><%= @user.name %></b></h4>
	<h4>Email: <b><%= @user.email %></b></h4>
	<h4>Role: <b><%= @user.role %></b></h4>	
	<br/>
	<%= link_to 'Back', users_path, class: 'btn btn-default' %>
</div>
